# values.yaml
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.apps.ocp4732.cp.fyre.ibm.com`)
    entryPoints:
      - web
providers:
  kubernetesGateway:
    enabled: true
# create only default gateway with http
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All
service:
  type: NodePort
#logs:
#  general:
#    level: DEBUG

